@model WebApplication1.Models.Part
<div class="form-group">
    <label asp-for="PartNumberCommonized" class="control-label"></label>
    <input asp-for="PartNumberCommonized" class="form-control" />
    <span asp-validation-for="PartNumberCommonized" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PartL" class="control-label"></label>
    <input asp-for="PartL" class="form-control" />
    <span asp-validation-for="PartL" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PartH" class="control-label"></label>
    <input asp-for="PartH" class="form-control" />
    <span asp-validation-for="PartH" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PartW" class="control-label"></label>
    <input asp-for="PartW" class="form-control" />
    <span asp-validation-for="PartW" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PartIntroDate" class="control-label"></label>
    <input asp-for="PartIntroDate" class="form-control" />
    <span asp-validation-for="PartIntroDate" class="text-danger"></span>
</div>